In [1]:
import pandas as pd
import numpy as np

In [2]:

df = pd.read_csv('city_hour.csv')

In [3]:
df.head()

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01 01:00:00,NaN,NaN,1.00,40.01,36.37,NaN,1.00,122.07,NaN,0.0,0.0,0.0,NaN,NaN
1,Ahmedabad,2015-01-01 02:00:00,NaN,NaN,0.02,27.75,19.73,NaN,0.02,85.90,NaN,0.0,0.0,0.0,NaN,NaN
2,Ahmedabad,2015-01-01 03:00:00,NaN,NaN,0.08,19.32,11.08,NaN,0.08,52.83,NaN,0.0,0.0,0.0,NaN,NaN
3,Ahmedabad,2015-01-01 04:00:00,NaN,NaN,0.30,16.45,9.20,NaN,0.30,39.53,153.58,0.0,0.0,0.0,NaN,NaN
4,Ahmedabad,2015-01-01 05:00:00,NaN,NaN,0.12,14.90,7.85,NaN,0.12,32.63,NaN,0.0,0.0,0.0,NaN,NaN

In [4]:
df.isnull()

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,False,False,True,True,False,False,False,True,False,False,True,False,False,False,True,True
1,False,False,True,True,False,False,False,True,False,False,True,False,False,False,True,True
2,False,False,True,True,False,False,False,True,False,False,True,False,False,False,True,True
3,False,False,True,True,False,False,False,True,False,False,False,False,False,False,True,True
4,False,False,True,True,False,False,False,True,False,False,True,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707870,False,False,False,False,False,False,False,False,False,True,False,True,True,True,False,False
707871,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False
707872,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False
707873,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False
707874,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False

In [5]:
df.isnull().sum()

City               0
Datetime           0
PM2.5         145088
PM10          296737
NO            116632
NO2           117122
NOx           123224
NH3           272542
CO             86517
SO2           130373
O3            129208
Benzene       163646
Toluene       220607
Xylene        455829
AQI           129080
AQI_Bucket    129080
dtype: int64

In [6]:
df.shape

(707875, 16)

In [7]:
df['PM10'].isnull()

0          True
1          True
2          True
3          True
4          True
          ...
707870    False
707871    False
707872    False
707873    False
707874    False
Name: PM10, Length: 707875, dtype: bool

In [8]:
df.isna().any().sum()

14

In [9]:
df['PM10'].fillna(10)

0         10.00
1         10.00
2         10.00
3         10.00
4         10.00
          ...
707870    36.00
707871    49.25
707872    71.00
707873    63.00
707874    66.00
Name: PM10, Length: 707875, dtype: float64

In [10]:
df['PM10'].isnull()

0          True
1          True
2          True
3          True
4          True
          ...
707870    False
707871    False
707872    False
707873    False
707874    False
Name: PM10, Length: 707875, dtype: bool

# Data Cleaning

In [11]:
df.drop(['NO'], inplace=True,axis=1)

In [12]:
df.columns

Index(['City', 'Datetime', 'PM2.5', 'PM10', 'NO2', 'NOx', 'NH3', 'CO', 'SO2',
       'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

In [13]:
df.dropna()

,City,Datetime,PM2.5,PM10,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
50888,Amaravati,2017-11-25 09:00:00,104.00,148.50,23.00,13.75,9.80,0.10,15.30,117.62,0.30,10.40,0.23,155.0,Moderate
50889,Amaravati,2017-11-25 10:00:00,94.50,142.00,16.25,9.75,9.65,0.10,17.00,136.23,0.28,7.10,0.15,159.0,Moderate
50890,Amaravati,2017-11-25 11:00:00,82.75,126.50,14.83,9.07,9.70,0.10,15.40,149.92,0.20,4.55,0.08,173.0,Moderate
50893,Amaravati,2017-11-25 14:00:00,68.50,117.00,13.60,8.35,7.40,0.10,21.80,161.70,0.10,2.30,0.00,191.0,Moderate
50894,Amaravati,2017-11-25 15:00:00,69.25,112.25,11.80,7.55,9.25,0.10,21.38,161.68,0.10,2.35,0.00,191.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707863,Visakhapatnam,2020-06-30 13:00:00,12.75,45.00,17.20,9.32,9.12,0.11,10.82,45.80,0.00,0.00,0.00,50.0,Good
707864,Visakhapatnam,2020-06-30 14:00:00,10.75,36.75,17.75,10.28,4.65,0.34,4.38,50.73,0.00,0.00,0.00,51.0,Satisfactory
707865,Visakhapatnam,2020-06-30 15:00:00,15.75,30.25,13.75,8.07,4.67,0.30,2.90,41.55,0.00,0.00,0.00,51.0,Satisfactory
707866,Visakhapatnam,2020-06-30 16:00:00,14.00,29.50,20.70,12.45,8.08,0.45,7.12,39.23,0.00,0.00,0.00,51.0,Satisfactory
707867,Visakhapatnam,2020-06-30 17:00:00,9.75,24.25,23.85,15.02,12.23,0.57,8.45,34.78,0.00,0.00,0.00,51.0,Satisfactory

In [14]:
df

,City,Datetime,PM2.5,PM10,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01 01:00:00,NaN,NaN,40.01,36.37,NaN,1.00,122.07,NaN,0.0,0.0,0.0,NaN,NaN
1,Ahmedabad,2015-01-01 02:00:00,NaN,NaN,27.75,19.73,NaN,0.02,85.90,NaN,0.0,0.0,0.0,NaN,NaN
2,Ahmedabad,2015-01-01 03:00:00,NaN,NaN,19.32,11.08,NaN,0.08,52.83,NaN,0.0,0.0,0.0,NaN,NaN
3,Ahmedabad,2015-01-01 04:00:00,NaN,NaN,16.45,9.20,NaN,0.30,39.53,153.58,0.0,0.0,0.0,NaN,NaN
4,Ahmedabad,2015-01-01 05:00:00,NaN,NaN,14.90,7.85,NaN,0.12,32.63,NaN,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707870,Visakhapatnam,2020-06-30 20:00:00,9.50,36.00,25.57,15.85,4.57,0.62,NaN,27.75,NaN,NaN,NaN,51.0,Satisfactory
707871,Visakhapatnam,2020-06-30 21:00:00,17.25,49.25,33.20,20.62,3.78,0.76,2.02,25.58,NaN,NaN,NaN,51.0,Satisfactory
707872,Visakhapatnam,2020-06-30 22:00:00,36.00,71.00,30.80,18.20,3.67,0.58,1.77,26.15,NaN,NaN,NaN,50.0,Good
707873,Visakhapatnam,2020-06-30 23:00:00,15.75,63.00,28.90,16.00,3.80,0.49,0.75,15.82,NaN,NaN,NaN,50.0,Good
707874,Visakhapatnam,2020-07-01 00:00:00,15.00,66.00,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,NaN,50.0,Good

In [15]:
df['Datetime'] = pd.to_datetime(df['Datetime']).dt.time

In [16]:
df

,City,Datetime,PM2.5,PM10,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,01:00:00,NaN,NaN,40.01,36.37,NaN,1.00,122.07,NaN,0.0,0.0,0.0,NaN,NaN
1,Ahmedabad,02:00:00,NaN,NaN,27.75,19.73,NaN,0.02,85.90,NaN,0.0,0.0,0.0,NaN,NaN
2,Ahmedabad,03:00:00,NaN,NaN,19.32,11.08,NaN,0.08,52.83,NaN,0.0,0.0,0.0,NaN,NaN
3,Ahmedabad,04:00:00,NaN,NaN,16.45,9.20,NaN,0.30,39.53,153.58,0.0,0.0,0.0,NaN,NaN
4,Ahmedabad,05:00:00,NaN,NaN,14.90,7.85,NaN,0.12,32.63,NaN,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707870,Visakhapatnam,20:00:00,9.50,36.00,25.57,15.85,4.57,0.62,NaN,27.75,NaN,NaN,NaN,51.0,Satisfactory
707871,Visakhapatnam,21:00:00,17.25,49.25,33.20,20.62,3.78,0.76,2.02,25.58,NaN,NaN,NaN,51.0,Satisfactory
707872,Visakhapatnam,22:00:00,36.00,71.00,30.80,18.20,3.67,0.58,1.77,26.15,NaN,NaN,NaN,50.0,Good
707873,Visakhapatnam,23:00:00,15.75,63.00,28.90,16.00,3.80,0.49,0.75,15.82,NaN,NaN,NaN,50.0,Good
707874,Visakhapatnam,00:00:00,15.00,66.00,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,NaN,50.0,Good

# Replacing Values

In [ ]:
for x in df.index:
    if df.loc[x,'O3']<100:
        df.loc[x,'O3']=100

In [ ]:
df

In [ ]:
for x in df.index:
    print(x)

In [ ]:
df.head()

In [ ]:
print(df.duplicated())