In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('dataset_Facebook.csv')

In [3]:
df.head()

  Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0  139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1  139441;Status;2;12;3;10;0;10460;19057;1457;136...
2  139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3  139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4  139441;Photo;2;12;2;3;0;7244;13594;671;410;580...

In [4]:
df.shape

(500, 1)

In [5]:
df=pd.read_csv('dataset_Facebook.csv',delimiter=';')

In [6]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [7]:
df.shape

(500, 19)

# Subset

In [8]:
subset1=df[['Type','Category','Paid','like','share']]

In [9]:
subset1

       Type  Category  Paid    like  share
0     Photo         2   0.0    79.0   17.0
1    Status         2   0.0   130.0   29.0
2     Photo         3   0.0    66.0   14.0
3     Photo         2   1.0  1572.0  147.0
4     Photo         2   0.0   325.0   49.0
..      ...       ...   ...     ...    ...
495   Photo         3   0.0    53.0   26.0
496   Photo         2   0.0    53.0   22.0
497   Photo         1   0.0    93.0   18.0
498   Photo         3   0.0    91.0   38.0
499   Photo         2   NaN    91.0   28.0

[500 rows x 5 columns]

In [10]:
subset2=df.loc[5:60,['Type','Paid','like','share']]

In [11]:
subset2

      Type  Paid   like  share
5   Status   0.0  152.0   33.0
6    Photo   1.0  249.0   27.0
7    Photo   1.0  325.0   14.0
8   Status   0.0  161.0   31.0
9    Photo   0.0  113.0   26.0
10  Status   0.0  233.0   19.0
11   Photo   0.0   88.0   18.0
12   Photo   0.0   90.0   14.0
13   Photo   0.0  137.0   10.0
14   Photo   1.0  577.0   20.0
15  Status   0.0   86.0   18.0
16   Photo   0.0   40.0   12.0
17   Photo   1.0  678.0   20.0
18  Status   0.0   54.0   17.0
19   Photo   0.0   34.0    8.0
20   Photo   0.0   66.0   12.0
21   Photo   0.0    0.0    0.0
22    Link   0.0   16.0    2.0
23   Photo   0.0   72.0   24.0
24  Status   0.0   99.0   19.0
25  Status   0.0   88.0   18.0
26  Status   0.0  412.0   72.0
27   Photo   0.0  100.0   17.0
28   Photo   0.0  523.0   63.0
29   Video   1.0  143.0   13.0
30   Photo   0.0  107.0   22.0
31   Photo   0.0   27.0   11.0
32   Photo   0.0  155.0   47.0
33   Photo   0.0   98.0   23.0
34   Photo   0.0   56.0   17.0
35   Photo   0.0  172.0   21.0
36   Photo   0.0   96.0   17.0
37   Photo   1.0   76.0    8.0
38  Status   0.0  227.0   31.0
39   Photo   0.0   44.0   14.0
40  Status   0.0  216.0   39.0
41    Link   1.0  187.0   18.0
42   Photo   0.0   26.0    3.0
43    Link   1.0   29.0   10.0
44   Photo   0.0   47.0   11.0
45    Link   1.0   57.0   10.0
46  Status   0.0  174.0   36.0
47    Link   0.0   18.0    8.0
48   Photo   0.0   77.0   15.0
49    Link   0.0   12.0    1.0
50   Photo   0.0   48.0    9.0
51   Photo   1.0  285.0   28.0
52   Photo   0.0  202.0   31.0
53   Photo   0.0   64.0   19.0
54   Photo   0.0   66.0   13.0
55   Video   1.0   65.0   14.0
56   Photo   0.0  164.0   54.0
57   Photo   0.0   40.0   13.0
58   Photo   0.0   76.0   11.0
59   Photo   1.0  139.0   17.0
60   Photo   1.0  101.0   14.0

# Merge

In [12]:
mg1=pd.merge(subset1,subset2,on='Type')

In [13]:
mg1

        Type  Category  Paid_x  like_x  share_x  Paid_y  like_y  share_y
0      Photo         2     0.0    79.0     17.0     1.0   249.0     27.0
1      Photo         2     0.0    79.0     17.0     1.0   325.0     14.0
2      Photo         2     0.0    79.0     17.0     0.0   113.0     26.0
3      Photo         2     0.0    79.0     17.0     0.0    88.0     18.0
4      Photo         2     0.0    79.0     17.0     0.0    90.0     14.0
...      ...       ...     ...     ...      ...     ...     ...      ...
16398  Video         1     0.0   345.0    121.0     1.0    65.0     14.0
16399  Video         1     1.0   315.0     76.0     1.0   143.0     13.0
16400  Video         1     1.0   315.0     76.0     1.0    65.0     14.0
16401  Video         1     0.0   204.0     44.0     1.0   143.0     13.0
16402  Video         1     0.0   204.0     44.0     1.0    65.0     14.0

[16403 rows x 8 columns]

In [14]:
mg2=subset1.merge(subset2, left_on='like', right_on='share')

In [15]:
mg2

    Type_x  Category  Paid_x  like_x  share_x  Type_y  Paid_y  like_y  share_y
0   Status         3     0.0    54.0     17.0   Photo     0.0   164.0     54.0
1    Photo         2     0.0    54.0     16.0   Photo     0.0   164.0     54.0
2    Photo         3     0.0    54.0     11.0   Photo     0.0   164.0     54.0
3    Photo         1     0.0    54.0      7.0   Photo     0.0   164.0     54.0
4    Photo         1     0.0     0.0      0.0   Photo     0.0     0.0      0.0
..     ...       ...     ...     ...      ...     ...     ...     ...      ...
92   Photo         1     0.0    19.0      5.0  Status     0.0    99.0     19.0
93   Photo         1     0.0    19.0      5.0   Photo     0.0    64.0     19.0
94   Photo         1     0.0    22.0      3.0   Photo     0.0   107.0     22.0
95   Photo         1     1.0    22.0      6.0   Photo     0.0   107.0     22.0
96   Photo         3     0.0    33.0     10.0  Status     0.0   152.0     33.0

[97 rows x 9 columns]

# Sort Data

In [16]:
sort1 = subset1.sort_values(by = ['like','share'], ascending = False)

In [17]:
sort1

      Type  Category  Paid    like  share
244  Photo         2   1.0  5172.0  790.0
379  Photo         3   1.0  1998.0  128.0
349  Photo         3   0.0  1639.0  122.0
168  Photo         1   0.0  1622.0  208.0
3    Photo         2   1.0  1572.0  147.0
..     ...       ...   ...     ...    ...
76   Photo         1   0.0     0.0    0.0
100  Photo         1   1.0     0.0    0.0
417  Photo         1   0.0     0.0    0.0
441  Photo         1   1.0     0.0    0.0
111  Photo         1   0.0     NaN    NaN

[500 rows x 5 columns]

In [18]:

mg1.sort_values(by=['share_x'])

        Type  Category  Paid_x  like_x  share_x  Paid_y  like_y  share_y
3279   Photo         1     0.0     7.0      0.0     0.0    44.0     14.0
13466  Photo         1     0.0     4.0      0.0     1.0   139.0     17.0
13465  Photo         1     0.0     4.0      0.0     0.0    76.0     11.0
13464  Photo         1     0.0     4.0      0.0     0.0    40.0     13.0
13463  Photo         1     0.0     4.0      0.0     0.0   164.0     54.0
...      ...       ...     ...     ...      ...     ...     ...      ...
4694   Photo         1     0.0    18.0      NaN     0.0   164.0     54.0
4695   Photo         1     0.0    18.0      NaN     0.0    40.0     13.0
4696   Photo         1     0.0    18.0      NaN     0.0    76.0     11.0
4697   Photo         1     0.0    18.0      NaN     1.0   139.0     17.0
4698   Photo         1     0.0    18.0      NaN     1.0   101.0     14.0

[16403 rows x 8 columns]

In [19]:
df.sort_values(by=['like'])

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,0
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0

# Transpose Data

In [20]:
tp1 = subset1.transpose()

In [21]:
tp1

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0

In [22]:
tp2 = subset2.transpose()

In [23]:
tp2

,5,6,7,8,9,10,11,12,13,14,...,51,52,53,54,55,56,57,58,59,60
Type,Status,Photo,Photo,Status,Photo,Status,Photo,Photo,Photo,Photo,...,Photo,Photo,Photo,Photo,Video,Photo,Photo,Photo,Photo,Photo
Paid,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
like,152.0,249.0,325.0,161.0,113.0,233.0,88.0,90.0,137.0,577.0,...,285.0,202.0,64.0,66.0,65.0,164.0,40.0,76.0,139.0,101.0
share,33.0,27.0,14.0,31.0,26.0,19.0,18.0,14.0,10.0,20.0,...,28.0,31.0,19.0,13.0,14.0,54.0,13.0,11.0,17.0,14.0

In [24]:
subset1.melt()

     variable   value
0        Type   Photo
1        Type  Status
2        Type   Photo
3        Type   Photo
4        Type   Photo
...       ...     ...
2495    share    26.0
2496    share    22.0
2497    share    18.0
2498    share    38.0
2499    share    28.0

[2500 rows x 2 columns]